// styles/Home.module.scss
.pageWrapper {
  padding: 1.5rem;

  @media (min-width: 768px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @media (min-width: 1024px) {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
